h1{
  text-align: center;
}
.foundForm{
margin-top: 6px;
padding: 10px;
text-align: center;
}
.field::placeholder{
  
  color: rgb(118, 118, 214);
}
.field:focus{
  background-color: yellow;
}

.field:invalid{
  border:3px solid red;
}

.field:checked ~ .form_label{
  color: rgb(25, 0, 255);
}

.button{
  color: brown;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.phone{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.coloe{
  float: right ;
}